@import '../../../../assets/style/style.const.scss';

.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > div {
        width: 100%;
    }

    &__ButtonContainer {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 40px;
        gap: 25px;
        background-color: coral;
        
        & > div {
            width: 150px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $main_background-color;
            border-radius: 15px;
        }

        &--button {
            box-shadow:  4px 4px 8px #b4b4b4, -4px -4px 8px #f4f4f4, inset 0px 0px 0px #b4b4b4, inset 0px 0px 0px #f4f4f4;
            transition: box-shadow .2s ease-in-out;
        }

        &--button:active {
            box-shadow:  0px 0px 0px #b4b4b4, -0px 0px 0px #f4f4f4, inset 3px 3px 6px #b4b4b4, inset -3px -3px 6px #f4f4f4;
        }
    }
}