<div class="navBarContainer">
    <div class="navBarContainer__logoContainer">
        <div class="navBarContainer__logoContainer--logo"></div>
    </div>
    <div class="navBarContainer__buttonMenuContainer">
        <div class="navBarContainer__buttonMenuContainer__topButton">
            <div class="navBarContainer__buttonMenuContainer__topButton--button"
                *ngFor="let button of currentNames; index as i"
                (click)="activeMe(i)"
                [ngClass]="{'button_pressed': buttonActivated[i], 'button_unpressed': !buttonActivated[i]}"
            >{{button}}</div>
        </div>
        <div class="navBarContainer__buttonMenuContainer__bottomButton">
            <div class="navBarContainer__buttonMenuContainer__bottomButton--button">Setting</div>
            <div class="navBarContainer__buttonMenuContainer__bottomButton--button">Info</div>
        </div>
    </div>
</div>
<div class="menuPageContainer" [ngSwitch]="menuSwitcher">
    <app-landend-menu *ngSwitchCase='0'></app-landend-menu>
    <app-pdf-to-images-menu *ngSwitchCase='1'></app-pdf-to-images-menu>
    <app-images-to-pdf-menu *ngSwitchCase='2'></app-images-to-pdf-menu>
    <app-manage-pdf-menu *ngSwitchCase='3'></app-manage-pdf-menu>
</div>